In [361]:
import csv
import pandas as pd 

df = pd.read_csv('data/df_encoded.csv')

df

,Unnamed: 0,Name_of_Covered_Entity,State,Individuals_Affected,Date_of_Breach,Date_Posted_or_Updated,breach_start,year,Type_of_Breach_Hacking/IT Incident,Type_of_Breach_Improper Disposal,Type_of_Breach_Loss,Type_of_Breach_Other,Type_of_Breach_Theft,Type_of_Breach_Unauthorized Access/Disclosure,Location_of_Breached_Information_Desktop Computer,Location_of_Breached_Information_Laptop,Location_of_Breached_Information_Network Server,Location_of_Breached_Information_Other,Location_of_Breached_Information_Other Portable Electronic Device,Location_of_Breached_Information_Paper
0,0,Brooke Army Medical Center,TX,1000,10/16/2009,2014-06-30,2009-10-16,2009,0,0,0,0,1,0,0,0,0,0,0,1
1,1,"Mid America Kidney Stone Association, LLC",MO,1000,9/22/2009,2014-05-30,2009-09-22,2009,0,0,0,0,1,0,0,0,1,0,0,0
2,3,Health Services for Children with Special Need...,DC,3800,10/9/2009,2014-01-23,2009-10-09,2009,0,0,1,0,0,0,0,1,0,0,0,0
3,4,"L. Douglas Carlson, M.D.",CA,5257,9/27/2009,2014-01-23,2009-09-27,2009,0,0,0,0,1,0,1,0,0,0,0,0
4,5,"David I. Cohen, MD",CA,857,9/27/2009,2014-01-23,2009-09-27,2009,0,0,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,1043,Aetna Life Insurance Company,CT,3814,4/2/2014,2014-06-18,2014-04-02,2014,0,0,0,0,1,0,0,1,0,0,0,0
762,1046,Mark A. Gillispie,CA,5845,11/20/2013,2014-06-27,2013-11-20,2013,0,0,0,0,1,0,1,0,0,0,0,0
763,1050,Puerto Rico Health Insurance,PR,28413,9/20/2013,2014-06-27,2013-09-20,2013,0,0,0,0,1,0,0,0,0,1,0,0
764,1051,"Hospitalists of Brandon, LLC",FL,1831,2/11/2014,2014-06-27,2014-02-11,2014,1,0,0,0,0,0,0,0,0,1,0,0
765,1054,"Abrham Tekola, M.D.,INC",CA,5471,5/27/2014,2014-06-27,2014-05-27,2014,0,0,0,0,1,0,1,0,0,0,0,0

In [362]:
Type_df = df.iloc[:, [8,9,10,11,12,13]]

Type_df.reset_index(level = 0, inplace = True)
Type_df = Type_df.rename(columns = {'index':'Type_ID'})

In [363]:
Type_df

,Type_ID,Type_of_Breach_Hacking/IT Incident,Type_of_Breach_Improper Disposal,Type_of_Breach_Loss,Type_of_Breach_Other,Type_of_Breach_Theft,Type_of_Breach_Unauthorized Access/Disclosure
0,0,0,0,0,0,1,0
1,1,0,0,0,0,1,0
2,2,0,0,1,0,0,0
3,3,0,0,0,0,1,0
4,4,0,0,0,0,1,0
...,...,...,...,...,...,...,...
761,761,0,0,0,0,1,0
762,762,0,0,0,0,1,0
763,763,0,0,0,0,1,0
764,764,1,0,0,0,0,0
765,765,0,0,0,0,1,0

In [364]:
Location_df = df.iloc[:, [14,15,16,17,18,19]]
Location_df

,Location_of_Breached_Information_Desktop Computer,Location_of_Breached_Information_Laptop,Location_of_Breached_Information_Network Server,Location_of_Breached_Information_Other,Location_of_Breached_Information_Other Portable Electronic Device,Location_of_Breached_Information_Paper
0,0,0,0,0,0,1
1,0,0,1,0,0,0
2,0,1,0,0,0,0
3,1,0,0,0,0,0
4,1,0,0,0,0,0
...,...,...,...,...,...,...
761,0,1,0,0,0,0
762,1,0,0,0,0,0
763,0,0,0,1,0,0
764,0,0,0,1,0,0
765,1,0,0,0,0,0

In [365]:
Location_df.reset_index(level = 0, inplace = True)
Location_df = Location_df.rename(columns = {'index':'Location_ID'})

Location_df

,Location_ID,Location_of_Breached_Information_Desktop Computer,Location_of_Breached_Information_Laptop,Location_of_Breached_Information_Network Server,Location_of_Breached_Information_Other,Location_of_Breached_Information_Other Portable Electronic Device,Location_of_Breached_Information_Paper
0,0,0,0,0,0,0,1
1,1,0,0,1,0,0,0
2,2,0,1,0,0,0,0
3,3,1,0,0,0,0,0
4,4,1,0,0,0,0,0
...,...,...,...,...,...,...,...
761,761,0,1,0,0,0,0
762,762,1,0,0,0,0,0
763,763,0,0,0,1,0,0
764,764,0,0,0,1,0,0
765,765,1,0,0,0,0,0

In [366]:
df

,Unnamed: 0,Name_of_Covered_Entity,State,Individuals_Affected,Date_of_Breach,Date_Posted_or_Updated,breach_start,year,Type_of_Breach_Hacking/IT Incident,Type_of_Breach_Improper Disposal,Type_of_Breach_Loss,Type_of_Breach_Other,Type_of_Breach_Theft,Type_of_Breach_Unauthorized Access/Disclosure,Location_of_Breached_Information_Desktop Computer,Location_of_Breached_Information_Laptop,Location_of_Breached_Information_Network Server,Location_of_Breached_Information_Other,Location_of_Breached_Information_Other Portable Electronic Device,Location_of_Breached_Information_Paper
0,0,Brooke Army Medical Center,TX,1000,10/16/2009,2014-06-30,2009-10-16,2009,0,0,0,0,1,0,0,0,0,0,0,1
1,1,"Mid America Kidney Stone Association, LLC",MO,1000,9/22/2009,2014-05-30,2009-09-22,2009,0,0,0,0,1,0,0,0,1,0,0,0
2,3,Health Services for Children with Special Need...,DC,3800,10/9/2009,2014-01-23,2009-10-09,2009,0,0,1,0,0,0,0,1,0,0,0,0
3,4,"L. Douglas Carlson, M.D.",CA,5257,9/27/2009,2014-01-23,2009-09-27,2009,0,0,0,0,1,0,1,0,0,0,0,0
4,5,"David I. Cohen, MD",CA,857,9/27/2009,2014-01-23,2009-09-27,2009,0,0,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,1043,Aetna Life Insurance Company,CT,3814,4/2/2014,2014-06-18,2014-04-02,2014,0,0,0,0,1,0,0,1,0,0,0,0
762,1046,Mark A. Gillispie,CA,5845,11/20/2013,2014-06-27,2013-11-20,2013,0,0,0,0,1,0,1,0,0,0,0,0
763,1050,Puerto Rico Health Insurance,PR,28413,9/20/2013,2014-06-27,2013-09-20,2013,0,0,0,0,1,0,0,0,0,1,0,0
764,1051,"Hospitalists of Brandon, LLC",FL,1831,2/11/2014,2014-06-27,2014-02-11,2014,1,0,0,0,0,0,0,0,0,1,0,0
765,1054,"Abrham Tekola, M.D.,INC",CA,5471,5/27/2014,2014-06-27,2014-05-27,2014,0,0,0,0,1,0,1,0,0,0,0,0

In [367]:
main_df = df.iloc[:, [0,1,2,3,4,5,6,7]]

In [368]:
main_df = main_df.rename(columns = {'Unnamed: 0':'Intrusion_ID'})

main_df

,Intrusion_ID,Name_of_Covered_Entity,State,Individuals_Affected,Date_of_Breach,Date_Posted_or_Updated,breach_start,year
0,0,Brooke Army Medical Center,TX,1000,10/16/2009,2014-06-30,2009-10-16,2009
1,1,"Mid America Kidney Stone Association, LLC",MO,1000,9/22/2009,2014-05-30,2009-09-22,2009
2,3,Health Services for Children with Special Need...,DC,3800,10/9/2009,2014-01-23,2009-10-09,2009
3,4,"L. Douglas Carlson, M.D.",CA,5257,9/27/2009,2014-01-23,2009-09-27,2009
4,5,"David I. Cohen, MD",CA,857,9/27/2009,2014-01-23,2009-09-27,2009
...,...,...,...,...,...,...,...,...
761,1043,Aetna Life Insurance Company,CT,3814,4/2/2014,2014-06-18,2014-04-02,2014
762,1046,Mark A. Gillispie,CA,5845,11/20/2013,2014-06-27,2013-11-20,2013
763,1050,Puerto Rico Health Insurance,PR,28413,9/20/2013,2014-06-27,2013-09-20,2013
764,1051,"Hospitalists of Brandon, LLC",FL,1831,2/11/2014,2014-06-27,2014-02-11,2014
765,1054,"Abrham Tekola, M.D.,INC",CA,5471,5/27/2014,2014-06-27,2014-05-27,2014

In [369]:
# Adding Location_ID from Location_df to create foreign key in PGAdmin

main_df = pd.concat([main_df, Location_df["Location_ID"], Type_df['Type_ID']], axis = 1)

main_df

,Intrusion_ID,Name_of_Covered_Entity,State,Individuals_Affected,Date_of_Breach,Date_Posted_or_Updated,breach_start,year,Location_ID,Type_ID
0,0,Brooke Army Medical Center,TX,1000,10/16/2009,2014-06-30,2009-10-16,2009,0,0
1,1,"Mid America Kidney Stone Association, LLC",MO,1000,9/22/2009,2014-05-30,2009-09-22,2009,1,1
2,3,Health Services for Children with Special Need...,DC,3800,10/9/2009,2014-01-23,2009-10-09,2009,2,2
3,4,"L. Douglas Carlson, M.D.",CA,5257,9/27/2009,2014-01-23,2009-09-27,2009,3,3
4,5,"David I. Cohen, MD",CA,857,9/27/2009,2014-01-23,2009-09-27,2009,4,4
...,...,...,...,...,...,...,...,...,...,...
761,1043,Aetna Life Insurance Company,CT,3814,4/2/2014,2014-06-18,2014-04-02,2014,761,761
762,1046,Mark A. Gillispie,CA,5845,11/20/2013,2014-06-27,2013-11-20,2013,762,762
763,1050,Puerto Rico Health Insurance,PR,28413,9/20/2013,2014-06-27,2013-09-20,2013,763,763
764,1051,"Hospitalists of Brandon, LLC",FL,1831,2/11/2014,2014-06-27,2014-02-11,2014,764,764
765,1054,"Abrham Tekola, M.D.,INC",CA,5471,5/27/2014,2014-06-27,2014-05-27,2014,765,765

In [370]:
# Adding Intrustion_ID from main_df to create primary key in PGAdmin

Location_df = pd.concat([main_df['Intrusion_ID'], Location_df, Type_df['Type_ID']], axis = 1)

Location_df

,Intrusion_ID,Location_ID,Location_of_Breached_Information_Desktop Computer,Location_of_Breached_Information_Laptop,Location_of_Breached_Information_Network Server,Location_of_Breached_Information_Other,Location_of_Breached_Information_Other Portable Electronic Device,Location_of_Breached_Information_Paper,Type_ID
0,0,0,0,0,0,0,0,1,0
1,1,1,0,0,1,0,0,0,1
2,3,2,0,1,0,0,0,0,2
3,4,3,1,0,0,0,0,0,3
4,5,4,1,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...
761,1043,761,0,1,0,0,0,0,761
762,1046,762,1,0,0,0,0,0,762
763,1050,763,0,0,0,1,0,0,763
764,1051,764,0,0,0,1,0,0,764
765,1054,765,1,0,0,0,0,0,765

In [371]:
# Adding Intrusion_ID from main_df to create foregin key in PGAdmin

Type_df = pd.concat([main_df['Intrusion_ID'], Type_df, Location_df['Location_ID']], axis = 1)

Type_df

,Intrusion_ID,Type_ID,Type_of_Breach_Hacking/IT Incident,Type_of_Breach_Improper Disposal,Type_of_Breach_Loss,Type_of_Breach_Other,Type_of_Breach_Theft,Type_of_Breach_Unauthorized Access/Disclosure,Location_ID
0,0,0,0,0,0,0,1,0,0
1,1,1,0,0,0,0,1,0,1
2,3,2,0,0,1,0,0,0,2
3,4,3,0,0,0,0,1,0,3
4,5,4,0,0,0,0,1,0,4
...,...,...,...,...,...,...,...,...,...
761,1043,761,0,0,0,0,1,0,761
762,1046,762,0,0,0,0,1,0,762
763,1050,763,0,0,0,0,1,0,763
764,1051,764,1,0,0,0,0,0,764
765,1054,765,0,0,0,0,1,0,765

In [372]:
main_df.to_csv('data/main_df.csv', index = False)

In [373]:
Type_df.to_csv('data/Type_df.csv', index = False)

In [374]:
Location_df.to_csv('data/Location_df.csv', index = False)